* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html{
  scroll-behavior: smooth;
}
body {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    color:rgba(21, 21, 21, 0.6) ;
  }
  ul{
    list-style:none ;
  }
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 0;
  background-color:white   ;
}

@media screen and (max-width:1024px) {
  .menu-btn {
      display: block;
      width: 30px;
      height: 30px;
      position: relative;
      z-index: 2;
      overflow: hidden;
      border: none;
      outline: none;
      background: transparent;
  }
}
.menu-btn .bar{
  width:30px ;
  height: 4px;
  position: 4px;
  top:50%;
  left:50%;
  transform: translate(-50% -50%);
  background-color: #151515;
  transition:0.3s ;
}
.menu-btn .bar:nth-child(2){
  top: calc(50% - 9px)
}

.menu-btn.active .bar:nth-child(3){
  display:none ;
}
.menu-btn .bar:nth-child(1){
  top: calc(50% - 9px)
}
.menu-btn .bar:nth-child(2){
  top:50px;
  transform:translate(-50%,0%) ;
}
.menu-btn .bar:nth-child(3){
  top: calc(50% - 9px)
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  max-width: 1150px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}
.navigation {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
}
.nav-list {
  display: flex;
  list-style: none;
  gap: 20px;
  align-items: center;
}
.header-buttons {
  display: flex;
  margin-left: 95px;
}
@media shereen  and( max-width) {
  .nav-list{
    position:fixed ;
    height:100% ;
    width:100% ;
    top:0 ;
    left:0 ;
    padding: 15px;background-color: #ffffff ;
    transition:0.5s ;
    transform: translateX(100%);
  }
}
.reg-button{
font-family: inherit;
font-weight: 500;
font-size: 14px;
line-height: 21px;
color: #151515;
background-color: transparent;
border: none;
outline: none;
margin-right: 20px;
}
.login-button{
    font-family: inherit;
font-weight: 500;
font-size: 14px;
line-height: 21px;
color: #FFFFFF;
background: #656293;
border-radius: 5px;
padding: 5px 20px;
border: none;
outline: none;
}
.nav-link {
  font-family: "Poppins", "sans-serif";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  text-align: right;
  text-transform: capitalize;
  color: #181818;
  text-decoration: none;
}
.hero {
  background-image: url(../images/hero-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  padding-top: 104px;
}

:root {
  --main-color: white;
  --title-color: black;
  --text-color: rgba(21, 21, 21, 0.6);
}
h2 {
  margin-bottom: 64px;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 54px;
  text-transform: capitalize;
  color: var(--title-color);
  text-align: center;
  position: relative;
}
h2::before {
  content: "";
  width: 40px;
  height: 40px;
  position: absolute;
  background-color: rgba(21, 21, 21, 0.1);
  display: block;
  border-radius: 50px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}
.bizness-top,
center,
.business-botom .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 80px;
}

.bizness-top img {
  max-width: 576px;
}
.business-botom img {
  max-width: 612px;
}
.business-top,
.business-botom {
  padding: 65xp 0;
  position: relative;
}
@media screen and (max-width:768px) {

  .business-top .container,
  .business-bottom .container {
      flex-direction: column;
  }

}
img {
  display: block;
  max-width: 100%;
}
h3 {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: #151515;
  margin-bottom: 20px;
}
p {
  font-weight: 600;
  font-size: 24px;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
}
section {
  padding-top: 115px;
}
.business-top::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 405px;
  display: block;
  background: #e5f4f6;
  border-radius: 0px 50px 50px 0px;
  z-index: -1;
}
.business-bottom::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 405px;
  display: block;
  background: #e5f4f6;
  border-radius: 50px 0px 50px 50px;
  z-index: -1;
}
.services {
  display: flex;
  flex-wrap: wrap;
  column-gap: 370px;
  resize: 30px;
}
.services-item {
  width: calc((100% - 370px) / 2);
  box-shadow: 0px 30px 84px rgba(19, 10, 46, 0.08),
    0px 8px 32px rgba(19, 10, 46, 0.07), 0px 3px 14px rgba(19, 10, 46, 0.03),
    0px 1px 3px rgba(19, 10, 46, 0.13);
  border-radius: 12px;
  padding: 40px 52px 51px 52px;
  border-radius: 12px;
  text-align: center;
}
.services-image {
  max-width: 290px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.services-item img {
  margin: 0 auto 13px auto;
}
.services-item .services-item-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  margin-bottom: 11px;
  color: #151515;
}
.services-item .services-item-text{
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.02em;
  color: rgba(21, 21, 21, 0.6);
}
.planes-list {
  display: flex;
  list-style: none;
  justify-content: space-between;
}
.planes-item {
  width: calc((100% - 90px) / 4);
  background: #ffffff;
  box-shadow: 0px 30px 84px rgba(19, 10, 46, 0.08),
    0px 8px 32px rgba(19, 10, 46, 0.07), 0px 3px 14px rgba(19, 10, 46, 0.03),
    0px 1px 3px rgba(19, 10, 46, 0.13);
  border-radius: 12px;
  padding: 10px;
}
.imgwrapper {
  margin-bottom: 14px;
  border-radius: 12px;
  overflow: hidden;
}
.planes-image {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}
.planes-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #151515;
}
.planes-background {
  position: absolute;
  top: 208xp;
  right: -64px;
  z-index: -1;
}

.planes {
  position: relative;
}
.services-list{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 30px 370px;
}

.membership-list{
list-style-type:none  ;
display: flex;
gap: 24px;
}
.membership-item{
    flex-basis:calc((100% - 48px) / 3) ;
    padding: 24px;
    background-color:  #f5f5f5; ;
}
.membership-item:nth-child(2){
background-color: #656293;
transform: translateY(-30px);
}
.membership-item:nth-child(2) h3{
  color: #FFFFFF;
}
.membership-item:nth-child(2) .advantages-item.tick::before{
  background-image:url(../images/tick-white.svg) ;
}
.membership-item:nth-child(2) .advantages-item.cross::before{
  background-image:url(../images/cross-white.svg) ;
}
.membership-item:nth-child(2) button{
background-color: #FFFFFF;
color: #151515;
}
.membership-item:nth-child(2) .price{
 color: white;
}
.membership-item:nth-child(2) .advantages-item{
  color: #FFFFFF;
}
.membership-item:first-child{
    border-radius: 20px 0px 0px 20px;
}
.membership-item:last-child{
    border-radius:0px 20px 20px 0px;
}
.membership-item h3{
    font-weight: 700;
       font-size: 32px;
     line-height: 40px;
}
.membership-advantages{
  font-weight: 400;
font-size: 22px;
line-height: 27px;
color: #A9A9AA;
margin-bottom:24px ;
}
.advantages-list{
  padding-bottom:20px ;
  border-bottom: 1px dashed #A9A9AA;


}
.advantages-item{
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #151515;
  position: relative;
  padding-left:30px ;
}
.advantages-item:not(:last-child){
  margin-bottom: 16px;
}
.advantages-item::before{
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.advantages-item.tick::before{
  background-image:url(../images/cros3.svg);
}
.advantages-item.cross::before{
  background-image:url(../images/cros2.svg);

}
.price{
  padding-top: 70px;
  color: #161616;
}
.number{
  font-weight: 700;
font-size: 32px;
line-height: 40px;
}
.advantages-button{
background:#656293; 
border-radius: 12px;
padding: 12px 16px;
width: 100%;
font-weight: 600;
font-size: 22px;
color: #ffffff;
margin-top: 24px;
border: 0; 
}
.footer-plane{
  margin: 0 auto;
}
.footer-bottom{
  background: #656293;
}
.footer-logo{
  padding-top:50px ;
  padding-bottom: 30px;
  justify-content: center;
}
.footer-logo a{
  display: block;
  height: fit-content;
}
.footer-info{
  border-top:  rgba(255, 255, 255, 0.2);
  padding-top: 17px;
  padding-bottom: 7px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-info nav{
  flex: 1;
}
.footer-navigation{
  display: flex;
  gap:30px ;
  list-style: none;

}
.footer-link{
  text-decoration: none;
  font-size: 14px;
line-height: 21px;
color: rgba(255, 255, 255, 0.7);
}
.copyrith{
  font-size: 14px;
line-height: 21px;
color: rgba(255, 255, 255, 0.7);
}












